In [2]:
import pandas as pd

# Sample sales dataset (You can replace this with pd.read_csv("sales_data.csv"))
data = {
    'Product': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture', 'Clothing', 'Clothing'],
    'Units_Sold': [50, 30, 20, 60, 45, 25],
    'Price_Per_Unit': [100, 150, 200, 250, 50, 80],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar']
}

# Load dataset into DataFrame
df = pd.DataFrame(data)

# 1. Create a new column Total_Revenue
df['Total_Revenue'] = df['Units_Sold'] * df['Price_Per_Unit']

# 2. Total revenue generated for each product
revenue_per_product = df.groupby('Product')['Total_Revenue'].sum()

# 3. Total units sold for each category
units_per_category = df.groupby('Category')['Units_Sold'].sum()

# 4. Average price per unit for each category
avg_price_per_category = df.groupby('Category')['Price_Per_Unit'].mean()

# 5. Product with maximum units sold
max_units_sold_product = df.loc[df['Units_Sold'].idxmax(), 'Product']

# 6. Total revenue by Month
revenue_per_month = df.groupby('Month')['Total_Revenue'].sum()

# 7. Filter products where Units_Sold > 40
products_units_gt_40 = df[df['Units_Sold'] > 40]

# 8. Sort dataset by Total_Revenue in descending order
df_sorted = df.sort_values(by='Total_Revenue', ascending=False)

# Display the results
print("Sales DataFrame:\n", df, "\n")
print("Total Revenue per Product:\n", revenue_per_product, "\n")
print("Total Units Sold per Category:\n", units_per_category, "\n")
print("Average Price per Unit per Category:\n", avg_price_per_category, "\n")
print("Product with Maximum Units Sold:", max_units_sold_product, "\n")
print("Total Revenue per Month:\n", revenue_per_month, "\n")
print("Products with Units Sold > 40:\n", products_units_gt_40, "\n")
print("DataFrame sorted by Total Revenue:\n", df_sorted)

Sales DataFrame:
   Product     Category  Units_Sold  Price_Per_Unit Month  Total_Revenue
0       A  Electronics          50             100   Jan           5000
1       B  Electronics          30             150   Jan           4500
2       C    Furniture          20             200   Feb           4000
3       D    Furniture          60             250   Feb          15000
4       E     Clothing          45              50   Mar           2250
5       F     Clothing          25              80   Mar           2000

Total Revenue per Product:
 Product
A     5000
B     4500
C     4000
D    15000
E     2250
F     2000
Name: Total_Revenue, dtype: int64

Total Units Sold per Category:
 Category
Clothing       70
Electronics    80
Furniture      80
Name: Units_Sold, dtype: int64

Average Price per Unit per Category:
 Category
Clothing        65.0
Electronics    125.0
Furniture      225.0
Name: Price_Per_Unit, dtype: float64

Product with Maximum Units Sold: D

Total Revenue per Month:
 Month
Feb    19000
Jan     9500
Mar     4250
Name: Total_Revenue, dtype: int64

Products with Units Sold > 40:
   Product     Category  Units_Sold  Price_Per_Unit Month  Total_Revenue
0       A  Electronics          50             100   Jan           5000
3       D    Furniture          60             250   Feb          15000
4       E     Clothing          45              50   Mar           2250

DataFrame sorted by Total Revenue:
   Product     Category  Units_Sold  Price_Per_Unit Month  Total_Revenue
3       D    Furniture          60             250   Feb          15000
0       A  Electronics          50             100   Jan           5000
1       B  Electronics          30             150   Jan           4500
2       C    Furniture          20             200   Feb           4000
4       E     Clothing          45              50   Mar           2250
5       F     Clothing          25              80   Mar           2000